.App {
  
  height:100vh;
  width:100vw;
}
.appbar{
 background-color:rgb(0, 115, 181);
 width:100%;
 height:5%;
 display:flex;
 flex-direction:row;
 align-items: center;
 justify-content:space-between;


}
.menubar{
  width:100%;
  height:8%;
  display:block;
  display:flex;
 flex-direction:row;
 justify-content:space-between;
 align-items: center;
}

.menu{
 
display:flex;
flex-direction:row;
justify-content:space-between;
align-items: center;

}
.menu1{
  transition-duration: .2s;
  padding:0px 10px;
}
.menu1:hover{
  border-bottom-style: solid;
 border-bottom-color: blue;
 border-bottom-width: .5px;
  
}
.menu2{
  padding:0px 10px;
  transition-duration: .2s;
}
.menu2:hover{
  border-bottom-style: solid;
 border-bottom-color: blue;
 border-bottom-width: .5px;
  
}
.menu3{
  padding:0px 10px;
  transition-duration: .2s;
}
.menu3:hover{
  border-bottom-style: solid;
 border-bottom-color: blue;
 border-bottom-width: .5px;
  
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
